# MCP相关依赖
mcp
# Web服务和SSE相关
fastapi>=0.95.0
uvicorn>=0.21.1
sse-starlette>=1.6.1
starlette>=0.26.0

# HTTP请求相关
requests>=2.28.2
urllib3>=1.26.15

# 加密相关
pycryptodome>=3.17.0

# 其他工具
tqdm>=4.65.0
python-multipart>=0.0.6 